body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f0f0f0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h3 {
    margin-bottom: 10px;
}

/* Properties Control Styles */
.properties-control {
    display: flex;
    align-items: flex-start;
    gap: 15px;
    margin-bottom: 15px;
}

.properties-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.fuzzy-search {
    width: 200px;
    padding: 5px;
}

.search-results {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: white;
    max-height: 300px;
    overflow-y: auto;
    z-index: 1000;
    margin-top: 0;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    font-size: 0.9em;
}

.search-result {
    padding: 5px 5px;
    cursor: pointer;
}

.search-result:hover, .search-result-active {
    background-color: #e0e0f0;
}

.no-results {
    padding: 5px 10px;
    color: #656565;
    font-style: italic;
}

.property-row {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    position: relative;
}

.property-row label {
    white-space: nowrap;
}

.input-wrapper {
    position: relative;
    flex-grow: 1;
}

#swapProperties {
    align-self: center;
}

/* Other Controls Styles */
.control-row {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    margin-top: 15px;
}

.control-group {
    display: flex;
    align-items: center;
    gap: 5px;
}

/* Button Styles */
button {
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    background-color: #303a55;
    color: white;
    transition: background-color 0.5s ease;
}

button:hover {
    background-color: #3a4b98;
}

button.removeStock {
    background-color: #dc5151;
}

button.removeStock:hover {
    background-color: #ff5252;
}

button.removeFilter {
    background-color: #dc5151;
}

button.removeFilter:hover {
    background-color: #ff5252;
}

/* Filter Styles */
.filter {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: 3px;
    margin-bottom: 3px;
}

/* .filterProperty {
    width: 150px;
} */

.filterValue {
    width: 100px;
}


.filterComparison:hover {
    background-color: #3a4b98;
}

/* Plot Styles */
#plotDiv {
    width: 100%;
    height: 600px;
    margin-bottom: 20px;
}

/* Tracked Stocks Styles */
.tracked-stocks-container {
    display: flex;
    gap: 20px;
}

.tracked-stocks {
    flex: 1;
}

#trackedStocksList {
    list-style-type: none;
    padding: 0;
}

#trackedStocksList li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding: 5px;
    background-color: #f0f0f0;
    border-radius: 3px;
}

#trackedStocksList li span {
    flex: 0 0 80px;
    margin-right: 10px;
}

#trackedStocksList li .button-container {
    display: flex;
    gap: 5px;
}

/* Stock Info Styles */
#stockInfoContainer {
    flex: 1;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

#stockInfoTable {
    width: 100%;
    border-collapse: collapse;
}

#stockInfoTable th, #stockInfoTable td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

#stockInfoTable th {
    background-color: #f2f2f2;
}




/* Last Updated Styles */
#lastUpdated {
    color: grey;
    font-size: 0.8em;
    text-align: center;
    margin-top: 20px;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
    .properties-control {
        flex-direction: column;
    }

    .property-row {
        flex-wrap: wrap;
    }

    .property-row select {
        width: 100%;
    }

    #swapProperties {
        vertical-align: middle;
    }

    .tracked-stocks-container {
        flex-direction: column;
    }
}